html, body {
    font-family: 'Montserrat';
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main_img {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    font-size: 26px;
    text-align: left;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #CC0000;
    text-decoration: underline;
}

.clear { /* запрещено обтекание элементов */
    clear: both;
}

div.content { /* основной блок контента */
    margin: 30px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}

.form-contact p {
    margin: 10px 0 10px 0;
    color: #693B0F;
    line-height: 1.5;
    font-weight: 600;
}

.form-contact input[type=submit], texture {
    font-size: 16px;
}

.flash {
    padding: 10px;
    width: 170px;
}

.flash.success {
    background: #AEFFC5;
}
.flash.error {
    background: #FF9C9C;
}

ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
ul.list-posts li {
    margin: 20px 0 0 0;
    border: 1px solid #eee;
}
ul.list-posts .title {
    margin: 0;
    padding: 5px;
    background: #eee;
}
ul.list-posts .annonce {
    margin: 0;
    padding: 10px 5px 10px 5px;
}

h2 {
    padding-top: 4%;
    padding-bottom: 1%;
    text-transform: uppercase;
    letter-spacing: .20em;
    /* color: #693B0F; */
    font-weight: 600;
    line-height: 1.5;
}

h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    color: #693B0F;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .20em;
    line-height: 1.5;
}

.image-container {
    display: inline-block;
    width: 310px; 
    margin-right: 20px; /* Отступ между элементами */
    vertical-align: top;
    color: #693B0F;
    font-weight: 400;
    margin-left: 120px;
}

.image-container_box {
    display:block;
    margin: auto;
    width: 500px; 
    margin-top: 20px;
    text-align: center;
    color: #693B0F;
    font-weight: 400;

}

.image-structure {
    display: inline-block;
    width: 250px; 
    margin-right: 0px;
    vertical-align: top;
    color: #693B0F;
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 150px;
    line-height: 1.5;
}

.brand_chocolate li {
    color: #693B0F;
    line-height: 1.5;
    margin-left: 150px;
    font-weight: 400;
    font-size: 1.2em;
}

.images_brand_chocolate {
    display: inline-block;
    width: 180px; 
    margin-right: 260px;
    vertical-align: top;
    color: #693B0F;
    font-weight: 600;
    margin-left: 170px;
}

.images_brand_chocolate p {
    color: #693B0F;
    line-height: 1.5;
    font-weight: 600;
}

.parent {
    display: flex;
    justify-content: center;
}
  
.child {
    color: #693B0F;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 50px;
    width: 450px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%; 
    font-weight: 600;
}

.sales {
    margin-right: 150px;
    color: #693B0F;
    line-height: 1.5;
}
 
.symbol {
   color: #fffcfc;
   margin-top: 10px;
   height: 29px;
   margin-left: 29px;
} 

.symbol:hover {
    padding: 2px;
    background-color:#693B0F;
} 

/* _________________HEADER________________________ */

header {
    padding-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
}

.menu li {
    margin-right: 80px; /* отступ между элементами */
}

.logo { 
    padding-left: 150px;
    margin-right: 100px; /* отступ от лого до др элементов */
} 

.menu a {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
    color: #3F4137;
    /* font-weight: bold; */
} 

/* _____ABOUT US_____ */
.container1, .container2, .container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
  
.why_are_we_text, .techn1, .techn2 {
    width: 100%;
    text-align: left;
    color: #693B0F;
    line-height: 1.5;
    margin: 10px;
    font-size: 1.1em;
    margin-left: 140px; 
}

.image_why_are_we, .image_techn1, .image_techn2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    margin: 10px;
}
  
.image_why_are_we img, .image_techn1 img, .image_techn2 img {
    max-width: 100%;
    height: auto;
}
/* _____ABOUT US_____ */

/* _____BLOG_____ */
.blog_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.blog_title {
    margin: 0;
    padding-left: 95px;
    font-weight: 600;
    color: #693B0F;
    font-size: 1.2em;
} 

.blog_content, .continue_content {
    width: 100%;
    text-align: left;
    padding-left: 95px;
    padding-right: 40px;
    line-height: 30px;
    color: black;
}
.blog_container_child {
    width: 50%;
    text-align: left;
    line-height: 1.5;
}

.image_blog {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin: 10px;
}

/* _____BLOG_____ */

/* _____Product-Catalog OUR SHOPS_____ */
.cont {
    display: flex;
    justify-content: center;
    margin-left: 300px; 
}

.from_siberia, .shops {
    color: #693B0F;
    line-height: 1.5;
    margin-right: 100px;
    margin-bottom: 20px;
}

/* _____PAGE404_____ */
.page404 {
    text-align: center;
    color: #693B0F;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 8%;
    margin-bottom: 8%;
}

.page404 img {
    width: 80%;
}
/* _____PAGE404_____ */

.post_content {
    font-size: 1.0em;
    padding-left: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 100%;
    line-height: 30px;
}
}

.post_content img, p {
    width: 80%;
}
