{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<div class="container1">
    <div class="why_are_we_text">
      <p><b>Почему выбирают золотую карту?</b><br/>Золотая карта - бренд шоколада, полностью созданный в Кузбассе.<br/> Мы работаем с 2014 года и отправляем шоколад по всей стране!</p>
    </div>
    <div class="image_why_are_we">
      <img src="/static/images_html/kem.jpg" width="600" height="700">
    </div>
</div>

<h2 align="center">Технологии</h2>
<div class="container2">
    <div class="image_techn1">
        <img src="/static/images_html/razrez.jpg" width="600" height="700">
    </div>
<div class="techn1">
    <p><b>Натуральный горький шоколад:</b><br/> 
        Какао-масса, сахар, какао-масло, обезжиренный какао-порошок,
        <br/> эмульгатор (Е322 – подсолнечный лецитин), натуральный экстракт ванили. 
        <br/>Возможны следы молока. Возможны следы глютена. 
        <br/>Содержание сухого остатка какао: минимум 72%. 
        <br/>Условия хранения: хранить в сухом и прохладном месте, при температуре не выше +20°С и относительной влажности 70%. 
        <br/>Без пальмового масла и ГМО. <br/>Срок годности: 24 месяца</p>
  </div>
</div>
<div class="container3">
    <div class="techn2">
        <p><b>Натуральный молочный шоколад:</b><br/> Сахар, какао-масло, сухое цельное молоко, какао тертое,<br/>эмульгатор (Е322 – подсолнечный лецитин), натуральный экстракт ванили. <br/>Содержание сухого остатка какао: минимум 31%. 
            <br/>Содержание молочного жира: 5.0-5.8%. 
            <br/>Общий сухой остаток молока: 21%. 
            <br/>Возможны следы глютена. 
            <br/>Условия хранения: хранить в сухом и прохладном месте, при температуре не выше +20°С и относительной влажности 70%. 
            <br/>Без пальмового масла и ГМО. Срок годности: 18 месяцев</p>
      </div>
    <div class="image_techn2">
        <img src="/static/images_html/rudnik.jpg" width="600" height="700">
    </div>
</div>    
{% endblock %}