<!DOCTYPE html>
  <html>
    <head>
      <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
      {% block title -%}
      {% if title %}
        <title>Золотая карта - {{title}}</title>
      {% else %}
        <title>Золотая карта</title>
      {% endif %}
      {% endblock %}
    </head>
  <body>
    {% block content -%}
    {%- block mainmenu -%}
    <header>
      <div class="logo">
        <a href="/"><img src="/static/images_html/logo.jpg" width="300" height="50px"/></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="{{url_for('index')}}">Главная</a></li>
          <li><a href="{{url_for('about')}}">О нас</a></li>
          <li><a href="{{url_for('catalog')}}">Каталог продукции</a></li>
          <li><a href="{{url_for('addReview')}}">Отзывы</a></li>
        </ul>
      </div>
    </header>
    {% endblock mainmenu -%}
    <div class="clear"></div>
    <div class="content">
    {% endblock -%}
    </div>

<div class="footer">
    <div class="flogo"><a href="/"><img src="/static/images_html/ico.jpg" width="120" height="150px"/></a></div>
    <div class="sales">
      <ul>
        <li>
          <p><b>Отдел продаж:</b><br>zapas@zapas.me<br>+79617269430</p>
          <div class="qr"><img src="/static/images_html/qr.jpg" width="90" height="90"></div>
        </li>

        <li>
          <p><b>Адрес производства:</b><br/>652705, Россия, Кемеровская обл.<br/>г. Киселёвск,<br/>ул. Привольная, д. 17</p>
          <div class="ptr">
            <a href="https://ok.ru/group/60312613027934"><img src="https://cdn-icons-png.flaticon.com/512/48/48971.png" class="symbol" alt="OK icon"></a>
            <a href="https://vk.com/zapasme"><img src="https://cdn-icons-png.flaticon.com/512/25/25684.png" class="symbol" alt="VK icon"></a>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  </div>
</div>
  </body>
</html>
