{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <div class="post_content">
        <img src="/static/images_html/{{ post['img_name'] }}">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content}}</p>
            {% if post.id == 1%}
            <p>Мы привезли домой <b>одну серебряную медаль</b> за медовый грильяж "Медвежий улей" и <b>одну большую золотую медаль</b> за линейку шоколада "Мой Новосибирск" и набор шоколадных конфет "Таежная легенда"!<br>
            Нашли производителей нужной нам упаковки и скоро в продаже появятся долгожданные драже из шоколада, ягод, орехов в удивительных сочетаниях!<br>
            <ul><b>Провели переговоры:</b>
                <li> с торговыми сетями Алтая и Новосибирской области о поставках нашей продукции;</li>
                <li> с производителями производственного оборудования.</li>
            </ul>
            <ul><b>Наш стенд посетили:</b>
                <li>гости выставки - просто не могли пройти мимо нас;</li>
                <li>огромное количество студентов Новосибирска - мы всегда будем помнить эти шумные компании ;</li>
                <li>"коллеги по цеху";</li>
                <li>представитель МинПромТорга НСО Максим Останин;</li>
            </ul>
            Увеличилось количество участников нашего паблика, более чем в 2 раза (подкупали наверное чем-то).<br>
            Весь наш шоколад был перепробован и мы получили довольные отзывы и массу восхищенных улыбок!<br>
            Но все прошло не без "ложки дегтя": к сожалению, на всех привезенного шоколада не хватило... но в следующий раз возьмем больше!!!!
            </p>

            {% elif post.id == 2 %}
            <p>Полностью линейка будет представлена на выставке «Сибирской продовольственной неделе» 15-17 ноября в Новосибирске, по адресу: <b>МВК «Новосибирск Экспоцентр», Новосибирск, ул.Станционная, 104</b>. Наш павильон B400. Ждем Вас на выставке!</p>
            
            {% elif post.id == 3%}
            <p>На данной выставке были достойно представлены новинки нашей продукции. На конкурсную программу выставки в номинации «Лучший продукт выставки», был заявлен набор шоколадных конфет «Таежная легенда», разработанных нами специально для сети магазинов «Привет из Сибири» (ИП Завгороднев А.Н.). Уникальная форма конфет, их вкус и оригинальная начинка, не оставили шансов на победу конкурентам.</p>

            {% endif %}

        <a class="back_to_blog" href="{{ url_for('blog') }}">Вернуться к блогу</a>
</div>
</body>
{{ post | safe }}
{% endblock %}
