{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<h2 align="center">Плиточный шоколад</h2>
<h3 align="center">Серия плиток 100 гр. из натурального шоколада серии "Алтай",<br/> с добавками:</h3>
<div class='image-container'>
    <img src="/static/images_html/altai1.jpg" width="300" height="500">
    <p align="center">Плитка натурального горького шоколада с добавлением маральего корня</p>
</div>
<div class='image-container'>
    <img src="/static/images_html/altai2.jpg" width="300" height="500">
    <p align="center">Плитка натурального горького шоколада с добавлением пантогематогена</p>
</div>
<div class='image-container'>
    <img src="/static/images_html/altai3.jpg" width="300" height="500">
    <p align="center">Плитка натурального молочного шоколада с добавлением кедрового ореха</p>
</div>
<div class='image-container_box'>
    <img src="/static/images_html/altai4.jpg" width="500" height="300">
    <p>Подарочный набор «Алтай».<br/>Три плитки из натурального горького и молочного шоколада с добавлением пантогематогена, маральего корня и кедрового ореха, <br/>вес 300 гр.</p>
</div>

<h2 align="center">Медовый грильяж</h2>
<h3 align="center">Медовый грильяж «Медвежий улей» — <br/>победитель Международной выставки ПРОДЭКСПО-2022, <br/>г.Москва, в номинации «Инновационный продукт»</h3>
<div class='image-structure'>
<ul class="structure">
    <p><b>Состав:</b></p>
    <li>Натуральный мёд</li>
    <li>Ядро кедрового ореха</li>
    <li>Клюква вяленая</li>
    <li>Кунжут белый</li>
</ul>
</div>
<div class='image-structure'>
    <img src="/static/images_html/ylei1.jpg" width="250" height="400">
</div>
<div class='image-structure'>
    <img src="/static/images_html/ylei2.jpg" width="400" height="400">
</div>

<h2 align="center">Брендированный шоколад</h2>
<h3 align="center">Ваш лучший корпоративный подарок клиентам и партнерам!</h3>
<ul class="brand_chocolate">
    <li>Стильный и необычайно вкусный подарок из натурального горького или молочного шоколада.</li>
    <li>Производим по собственным уникальным технологиям.</li>
    <li>Качество шоколада соответствует ГОСТ.</li>
    <li>Быстрая разработка и изготовление форм.</li>
    <li>Полный цикл производства, включая упаковку.</li>
    <li>Производство от 1 шт.</li>
    <li>Доставка в любой регион.</li>
</ul>
<div class="images_brand_chocolate">
    <img src="/static/images_html/kem.jpg" width="600" height="400">
    <p align="center">Администрация г. Кемерово</p>
</div>
<div class="images_brand_chocolate">
    <img src="/static/images_html/razrez.jpg" width="600" height="400">
    <p align="center">Разрез Кайчакский-1</p>
</div>
<div class="images_brand_chocolate">
    <img src="/static/images_html/rudnik.jpg" width="600" height="400">
    <p align="center">ООО "Рудник"</p>
</div>
<div class="images_brand_chocolate">
    <img src="/static/images_html/skak.jpg" width="600" height="400">
    <p align="center">СКЭК</p>
</div>

<h2 align="center">Наши магазины</h2>

<div class="cont">
<div class="from_siberia">
<p><b>Сеть магазинов «Привет из Сибири»</b></p>
<p><b>Город Кемерово</b></p>
<ul>
    <li>ул. Коломейцева, 10 (Крытый рынок)</li>
    <li>пр. Кузнецкий, 33Б (ТЦ «Я»)</li>
    <li>пр. Ленина, 41</li>
    <li>пр. Ленинградский 30 строение 1</li>
    <li>пр. Советский, 45 (Первый Универсам)</li>
    <li>ул. Терешковой, 22а (ТЦ «Спутник»)</li>
    <li>пр. Шахтеров, 83 (напротив ТЦ «Радуга»)</li>
    <li>ул. Ленина 75 (район Фабричка)</li>
    <li>пр. Ленина, 49 (Остановочный павильон)</li>
    <li>ул. Щетинкина, 16 (Губернский рынок)</li>
</ul>
<p><b>Город Новокузнецк</b></p>
<p>ул. Кирова, 55. ТЦ «Сити Молл»</p>
</div>

<div class="shops">
<p><b>ИП Лютаева И.А.</b></p>
<p>Республика Алтай, Майминский район, с. Майма, Аэропорт Горно-Алтайск</p>

<p><b>Гастрономы «Глобус Гурмэ»</b></p>
<p>г.Санкт-Петербург, Конюшенная площадь, д.2Г<br/>globusgurme.ru</p>

<p><b>Маральник Байгабак</b></p>
<p>Республика Алтай, с. Бешпельтир урочище Верх-Байгабак</p>

<p><b>Тайга Craft</b></p>
<p>Новосибирская область, г. Обь, Аэропорт Толмачёво</p>
<p>г.Кемерово, Аэропорт им. А.А.Леонова</p>
</div>
</div>
{% endblock %}